@font-face {
  font-family: 'Poppins';
  src: url('./font/Poppins-Regular.ttf') format('ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('./font/Poppins-Medium.ttf');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: url('./font/Poppins-SemiBold.ttf');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src: url('./font/Poppins-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Poppins';
  src: url('./font/Poppins-ExtraBoldItalic.ttf');
  font-style: italic; 
  font-weight: 700;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --light: #fff;
  --light-lightness: #f9f9f9;
  --light-medium: #f0f0f0;
  --light-dark: #eee;
  --light-darkness: #e0e0e0;

  --gray-light: #ddd;
  --gray-lightness: #bbb;
  --gray-medium: #777;
  --gray-dark: #555;
  --gray-darkness: #333;

  --primary: #1e3799;
  --primary-light: #4a69bd;
  --primary-dark: #0c2461;
}

#app {
  width: 100%;
  height: 100vh;
  color: var(--gray-darkness);
}

button,
input {
  outline: none;
  border: none;
  background-color: transparent;
}

button{
  cursor: pointer;
}

ul, menu {
  list-style: none;
}

/* transitions */
.fade-enter-active,
.fade-leave-active {
  transition: all 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-x-enter-active,
.slide-x-leave-active {
  transition: all 0.2s ease;
}

.slide-x-enter-from,
.slide-x-leave-to {
  opacity: 0;
  transform: translateX(-8px);
}

.slide-y-enter-active,
.slide-y-leave-active {
  transition: all 0.2s ease;
}

.slide-y-enter-from,
.slide-y-leave-to {
  opacity: 0;
  transform: translateY(-8px);
}